@{
    ViewBag.Title = "Inicio";
}

    <div class="right_col" role="main">

        @{
            bool wVerUsuario = false;
            bool wVerRoles = false;
            bool wVerEmpresas = false;
            bool wVerEmpleado = false;
            bool wVerDepartamento = false;
            bool wVerDiaFestivo = false;
            bool wVerCentroCosto = false;
            bool wverDispositivos = false;
            bool wVerUsb = false;
            bool wVerRed = false;
            bool wVerHorarios = false;
            bool wVerTurnos = false;
            bool wVerDescanso = false;
            bool wVerConfiguracionRapida = false;
            bool wVerExtractorRegistro = false;
            bool wVerAdministracionFichaje = false;
         

            //Obtengo todos las opciones que tiene este usuario
            if (Session["ListOpciones"] != null)
            {
                //Variables para controlar si se ven o no las opciones

                foreach (var ListOpciones in Session["ListOpciones"] as List<List<RelojBio.Models.RoleOption>>)
                {
                    foreach (var Opciones in ListOpciones)
                    {
                        switch (Opciones.OptionID)
                        {
                            case 2:
                                wVerUsuario = true;
                                break;
                            case 3:
                                wVerRoles = true;
                                break;
                            case 8:
                                wVerEmpresas = true;
                                break;
                            case 9:
                                wVerEmpleado = true;
                                break;
                            case 10:
                                wVerDepartamento = true;
                                break;
                            case 11:
                                wVerDiaFestivo = true;
                                break;
                            case 30:
                                wVerCentroCosto = true;
                                break;
                            case 13:
                                wverDispositivos = true;
                                break;
                            case 14:
                                wVerUsb = true;
                                break;
                            case 15:
                                wVerRed = true;
                                break;
                            case 17:
                                wVerHorarios = true;
                                break;
                            case 18:
                                wVerTurnos = true;
                                break;
                            case 19:
                                wVerDescanso = true;
                                break;
                            case 21:
                                wVerConfiguracionRapida = true;
                                break;
                            case 26:
                                wVerExtractorRegistro = true;
                                break;
                            case 16:
                                wVerAdministracionFichaje = true;
                                break;
                           
                        }

                    }

                }
            }
        }

        @if (wVerUsuario == true || wVerRoles == true)
        {
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2>Administración del Sistema</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        @if (wVerUsuario == true)
                        {
                            <h4><strong>@Html.ActionLink("Usuarios", "Index", "Usuario")</strong></h4>
                        }
                        @if (wVerRoles == true)
                        {
                            <h4><strong>@Html.ActionLink("Roles", "Index", "Role")</strong></h4>
                        }
                    </div>
                </div>
            </div>
            <br />


        }


        <div class="row">

            @if (wVerEmpresas == true || wVerEmpleado == true || wVerDepartamento == true || wVerDiaFestivo == true || wVerCentroCosto == true)
            {
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel tile fixed_height_320">
                        <div class="x_title">
                            <h2>Mantenimiento</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (wVerEmpresas == true)
                            {
                                <h4><strong>@Html.ActionLink("Empresas", "Index", "Empresa")</strong></h4>
                            }
                            @if (wVerEmpleado == true)
                            {
                                <h4><strong>@Html.ActionLink("Empleados", "Index", "Empleado")</strong></h4>
                            }
                            @if (wVerDepartamento == true)
                            {
                                <h4><strong>@Html.ActionLink("Departamentos", "Index", "Departamentos")</strong></h4>
                            }
                            @if (wVerDiaFestivo == true)
                            {
                                <h4><strong>@Html.ActionLink("Dias Festivos", "Index", "DiasFestivo")</strong></h4>
                            }
                            @if (wVerCentroCosto == true)
                            {
                                <h4><strong>@Html.ActionLink("Centro de Costos", "Index", "CentroCosto")</strong></h4>
                            }
                        </div>
                    </div>
                </div>

            }

            @if (wverDispositivos == true || wVerUsb == true || wVerRed == true)
            {
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel tile fixed_height_320 overflow_hidden">
                        <div class="x_title">
                            <h2>Dispositivos</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (wverDispositivos == true)
                            {
                                <h4><strong>@Html.ActionLink("Dispositivos", "Index", "Dispositivo")</strong></h4>
                            }
                            @if (wVerUsb == true)
                            {
                                <h4><strong>@Html.ActionLink("Descargar Usb", "Index", "DescargarUsb")</strong></h4>
                            }
                            @if (wVerRed == true)
                            {
                                <h4><strong>@Html.ActionLink("DescargarRed", "Index", "DescargarRed")</strong></h4>
                            }
                        </div>
                    </div>
                </div>

            }

            @if (wVerHorarios == true || wVerTurnos == true || wVerDescanso == true || wVerConfiguracionRapida == true || wVerExtractorRegistro == true || wVerAdministracionFichaje == true)
            {
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel tile fixed_height_320">
                        <div class="x_title">
                            <h2>Procesos</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>

                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (wVerHorarios == true)
                            {
                                <h4><strong>@Html.ActionLink("Horarios", "Index", "Horario")</strong></h4>
                            }
                            @if (wVerTurnos == true)
                            {
                                <h4><strong>@Html.ActionLink("Turnos", "Index", "Turno")</strong></h4>
                            }
                            @if (wVerDescanso == true)
                            {
                                <h4><strong>@Html.ActionLink("Descansos", "Index", "Descanso")</strong></h4>
                            }
                            @if (wVerConfiguracionRapida == true)
                            {
                                <h4><strong>@Html.ActionLink("Configuracion Rapida de Turno", "Index", "ConfiguracionRapida")</strong></h4>
                            }
                            @if (wVerExtractorRegistro == true)
                            {
                                <h4><strong>@Html.ActionLink("Extractor de Registro", "Index", "ExtractorRegistro")</strong></h4>
                            }
                            @if (wVerAdministracionFichaje == true)
                            {
                                <h4><strong>@Html.ActionLink("Admninistracion de Fichaje", "Index", "AdministracionFichaje")</strong></h4>
                            }

                        </div>
                    </div>
                </div>

            }

        </div>











    </div>