@using RelojBio.ViewModel;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>@ViewBag.Title - Reloj Biometrico</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/ContentPG/Stylos/bootstrap.min.css" rel="stylesheet">
    <link href="~/ContentPG/Stylos/font-awesome.min.css" rel="stylesheet">
    <link href="~/ContentPG/Stylos/nprogress.css" rel="stylesheet">
    <link href="~/ContentPG/Stylos/green.css" rel="stylesheet">
    <link href="~/ContentPG/Stylos/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/ContentPG/Stylos/jqvmap.min.css" rel="stylesheet" />
    <link href="~/ContentPG/Stylos/daterangepicker.css" rel="stylesheet">
    <link href="~/ContentPG/Stylos/custom.min.css" rel="stylesheet">
    <link href="~/ContentPG/Stylos/toastr.min.css" rel="stylesheet" />
    <link href="~/ContentPG/Stylos/bootstrap-datetimepicker.css" rel="stylesheet">

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            @*Menu Lateral*@
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-calendar"></i> <span>Biometrico</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/ContentPG/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido</span>
                            <h2>@Session["UserName"]</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            @{
                                bool wVerUsuario = false;
                                bool wVerRoles = false;
                                bool wVerEmpresas = false;
                                bool wVerEmpleado = false;
                                bool wVerDepartamento = false;
                                bool wVerDiaFestivo = false;
                                bool wVerCentroCosto = false;
                                bool wverDispositivos = false;
                                bool wVerUsb = false;
                                bool wVerRed = false;
                                bool wVerHorarios = false;
                                bool wVerTurnos = false;
                                bool wVerDescanso = false;
                                bool wVerConfiguracionRapida = false;
                                bool wVerExtractorRegistro = false;
                                bool wVerAdministracionFichaje = false;
                                bool wVerControlMarcacion = false;
                                bool wVerControlAsistencia = false;
                                bool wVerTiempoLibre = false;
                                bool wVerSeguimientoExcepcion = false;
                                bool wVerSeguimientoMacacion = false;
                                bool wVerSeguimientoFcihaje = false;
                                bool wVerControlAsistenciaBN = false;

                                //Obtengo todos las opciones que tiene este usuario
                                if (Session["ListOpciones"] != null)
                                {
                                    //Variables para controlar si se ven o no las opciones

                                    foreach (var ListOpciones in Session["ListOpciones"] as List<List<RelojBio.Models.RoleOption>>)
                                    {
                                        foreach (var Opciones in ListOpciones)
                                        {
                                            switch (Opciones.OptionID)
                                            {
                                                case 2:
                                                    wVerUsuario = true;
                                                    break;
                                                case 3:
                                                    wVerRoles = true;
                                                    break;
                                                case 8:
                                                    wVerEmpresas = true;
                                                    break;
                                                case 9:
                                                    wVerEmpleado = true;
                                                    break;
                                                case 10:
                                                    wVerDepartamento = true;
                                                    break;
                                                case 11:
                                                    wVerDiaFestivo = true;
                                                    break;
                                                case 30:
                                                    wVerCentroCosto = true;
                                                    break;
                                                case 13:
                                                    wverDispositivos = true;
                                                    break;
                                                case 14:
                                                    wVerUsb = true;
                                                    break;
                                                case 15:
                                                    wVerRed = true;
                                                    break;
                                                case 17:
                                                    wVerHorarios = true;
                                                    break;
                                                case 18:
                                                    wVerTurnos = true;
                                                    break;
                                                case 19:
                                                    wVerDescanso = true;
                                                    break;
                                                case 21:
                                                    wVerConfiguracionRapida = true;
                                                    break;
                                                case 26:
                                                    wVerExtractorRegistro = true;
                                                    break;
                                                case 16:
                                                    wVerAdministracionFichaje = true;
                                                    break;
                                                case 23:
                                                    wVerControlMarcacion = true;
                                                    break;
                                                case 24:
                                                    wVerControlAsistencia = true;
                                                    break;
                                                case 25:
                                                    wVerTiempoLibre = true;
                                                    break;
                                                case 27:
                                                    wVerSeguimientoExcepcion = true;
                                                    break;
                                                case 28:
                                                    wVerSeguimientoMacacion = true;
                                                    break;
                                                case 31:
                                                    wVerAdministracionFichaje = true;
                                                    break;
                                                case 32:
                                                    wVerControlAsistenciaBN = true;
                                                    break;
                                            }

                                        }

                                    }
                                }
                            }

                            <h3>Menu Principal</h3>

                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Home </a>
                                </li>

                                @if (wVerUsuario == true || wVerRoles == true)
                                {
                                    <li>
                                        <a><i class="fa fa-table"></i>Administración Sistema<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            @if (wVerUsuario == true)
                                            {
                                                <li><a href="@Url.Action("Index","Usuario")">Usuarios</a></li>
                                            }
                                            @if (wVerRoles == true)
                                            {
                                                <li><a href="@Url.Action("Index","Role")">Roles</a></li>

                                            }
                                        </ul>
                                    </li>

                                }

                                @if (wVerEmpresas == true || wVerEmpleado == true || wVerDepartamento == true || wVerDiaFestivo == true || wVerCentroCosto == true)
                                {
                                    <li>
                                        <a><i class="fa fa-edit"></i> Mantenimiento<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            @if (wVerEmpresas == true)
                                            {
                                                <li><a href="@Url.Action("Index","Empresa")">Empresas</a></li>
                                            }
                                            @if (wVerEmpleado == true)
                                            {
                                                <li><a href="@Url.Action("Index","Empleado")">Empleados</a></li>
                                            }
                                            @if (wVerDepartamento == true)
                                            {
                                                <li><a href="@Url.Action("Index","Departamentos")">Departamentos</a></li>
                                            }
                                            @if (wVerDiaFestivo == true)
                                            {
                                                <li><a href="@Url.Action("Index","DiasFestivo")">Días Festivos</a></li>
                                            }
                                            @if (wVerCentroCosto == true)
                                            {
                                                <li><a href="@Url.Action("Index","CCosto")">Area</a></li>
                                            }

                                        </ul>
                                    </li>

                                }

                                @if (wverDispositivos == true || wVerUsb == true || wVerRed == true)
                                {
                                    <li>
                                        <a><i class="glyphicon glyphicon-random"></i> Dispositivos<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            @if (wverDispositivos == true)
                                            {
                                                <li><a href="@Url.Action("Index","Dispositivos")">Dispositivos</a></li>

                                            }
                                            @if (wVerUsb == true)
                                            {
                                                <li><a href="#">Descargar Usb</a></li>
                                            }
                                            @if (wVerRed == true)
                                            {
                                                <li><a href="#">Descargar Red</a></li>
                                            }
                                        </ul>
                                    </li>
                                }

                                @if (wVerHorarios == true || wVerTurnos == true || wVerDescanso == true || wVerConfiguracionRapida == true || wVerExtractorRegistro == true || wVerAdministracionFichaje == true)
                                {
                                    <li>
                                        <a><i class="fa fa-desktop"></i> Procesos<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            @if (wVerHorarios == true)
                                            {
                                                <li><a href="@Url.Action("Index","Horario")">Horarios</a></li>
                                            }
                                            @if (wVerTurnos == true)
                                            {
                                                <li><a href="@Url.Action("Index","Turno")">Turnos</a></li>
                                            }
                                            @if (wVerDescanso == true)
                                            {
                                                <li><a href="@Url.Action("Index","Descanso")">Descansos</a></li>
                                            }
                                            @if (wVerConfiguracionRapida == true)
                                            {
                                                <li><a href="#">Configuracion rapida de Turnos</a></li>
                                            }
                                            @if (wVerExtractorRegistro == true)
                                            {
                                                <li><a href="#">Extractor de Registros</a></li>
                                            }
                                            @if (wVerAdministracionFichaje == true)
                                            {
                                                <li><a href="#">Administracion de Fichajes</a></li>
                                            }
                                        </ul>
                                    </li>

                                }

                                @if (wVerControlMarcacion == true || wVerControlAsistencia == true || wVerTiempoLibre == true || wVerSeguimientoExcepcion == true || wVerSeguimientoMacacion == true || wVerAdministracionFichaje == true || wVerControlAsistenciaBN == true)
                                {
                                    <li>
                                        <a><i class="fa fa-file-pdf-o"></i> Reportes<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            @if (wVerControlMarcacion == true)
                                            {
                                                <li><a href="@Url.Action("Imprimir","Reporte")?wTipo=1">Control Marcaciones</a></li>
                                            }
                                            @if (wVerControlAsistencia == true)
                                            {
                                                <li><a href="@Url.Action("Imprimir","Reporte")?wTipo=2">Control Asistencia</a></li>
                                            }
                                            @if (wVerTiempoLibre == true)
                                            {
                                                <li><a href="@Url.Action("Imprimir","Reporte")?wTipo=3">Control Tiempo Libre</a></li>
                                            }
                                            @if (wVerSeguimientoExcepcion == true)
                                            {
                                                <li><a href="@Url.Action("Imprimir","Reporte")?wTipo=4">Seguimiento Excepción</a></li>
                                            }
                                            @if (wVerSeguimientoMacacion == true)
                                            {
                                                <li><a href="@Url.Action("Imprimir","Reporte")?wTipo=5">Seguimiento Marcación</a></li>
                                            }
                                            @if (wVerSeguimientoFcihaje == true)
                                            {
                                                <li><a href="@Url.Action("Imprimir","Reporte")?wTipo=6">Seguimiento de Fichajes</a></li>
                                            }
                                            @if (wVerControlAsistenciaBN == true)
                                            {
                                                <li><a href="@Url.Action("Imprimir","Reporte")?wTipo=7">Control Asistencia BN</a></li>
                                            }
                                        </ul>
                                    </li>



                                }
                            </ul>

                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        @*<a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>*@

                       
                        <a class="pull-right" data-toggle="tooltip" data-placement="top" title="Salir" href="@Url.Action("LogOut","LoginRegistro")">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>

                    </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        @*Barra Superior
                        <div class="top_nav">
                            <div class="nav_menu">
                                <nav>
                                    <div class="nav toggle">
                                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                                    </div>

                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="">
                                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <img src="~/ContentPG/images/img.jpg" alt="">@Session["UserName"]
                                                <span class=" fa fa-angle-down"></span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                                <li>@Html.ActionLink("Perfil", "Edit", "Profile")</li>
                                                <li class="fa fa-sign-out pull-right">@Url.Action("LogOut", "Login")Salir</li>
                                            </ul>
                                        </li>
                                    </ul>


                                </nav>
                            </div>
                        </div>

                        @*Donde se renderiza el contenido de cada pagina*@
                        @RenderBody()

                        @*Pie de pagina*@
                        <footer>
                            <div class="pull-right">
                                Eliezer Vargas - </a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>

                    </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/ContentPG/Script/jquery.min.js"></script>
    <script src="~/ContentPG/Script/toastr.min.js"></script>
    <script src="~/ContentPG/Script/bootstrap.min.js"></script>
    <script src="~/ContentPG/Script/fastclick.js"></script>
    <script src="~/ContentPG/Script/nprogress.js"></script>
    <script src="~/ContentPG/Script/Chart.min.js"></script>
    <script src="~/ContentPG/Script/gauge.min.js"></script>
    <script src="~/ContentPG/Script/bootstrap-progressbar.min.js"></script>
    <script src="~/ContentPG/Script/icheck.min.js"></script>
    <script src="~/ContentPG/Script/skycons.js"></script>
    <script src="~/ContentPG/Script/jquery.flot.js"></script>
    <script src="~/ContentPG/Script/jquery.flot.pie.js"></script>
    <script src="~/ContentPG/Script/jquery.flot.time.js"></script>
    <script src="~/ContentPG/Script/jquery.flot.stack.js"></script>
    <script src="~/ContentPG/Script/jquery.flot.resize.js"></script>
    <script src="~/ContentPG/Script/jquery.flot.orderBars.js"></script>
    <script src="~/ContentPG/Script/jquery.flot.spline.min.js"></script>
    <script src="~/ContentPG/Script/curvedLines.js"></script>
    <script src="~/ContentPG/Script/date.js"></script>
    <script src="~/ContentPG/Script/jquery.vmap.js"></script>
    <script src="~/ContentPG/Script/jquery.vmap.world.js"></script>
    <script src="~/ContentPG/Script/jquery.vmap.sampledata.js"></script>
    <script src="~/ContentPG/Script/moment.min.js"></script>
    <script src="~/ContentPG/Script/daterangepicker.js"></script>
    <script src="~/ContentPG/Script/toastr.min.js"></script>


    <script src="~/ContentPG/Script/jquery.dataTables.min.js"></script>
    <script src="~/ContentPG/Script/dataTables.bootstrap.min.js"></script>
    <script src="~/ContentPG/Script/dataTables.buttons.min.js"></script>
    <script src="~/ContentPG/Script/buttons.bootstrap.min.js"></script>
    <script src="~/ContentPG/Script/buttons.flash.min.js"></script>
    <script src="~/ContentPG/Script/buttons.html5.min.js"></script>
    <script src="~/ContentPG/Script/buttons.print.min.js"></script>
    <script src="~/ContentPG/Script/dataTables.fixedHeader.min.js"></script>
    <script src="~/ContentPG/Script/dataTables.keyTable.min.js"></script>
    <script src="~/ContentPG/Script/dataTables.responsive.min.js"></script>
    <script src="~/ContentPG/Script/responsive.bootstrap.js"></script>
    <script src="~/ContentPG/Script/dataTables.scroller.min.js"></script>
    <script src="~/ContentPG/Script/jszip.min.js"></script>
    <script src="~/ContentPG/Script/pdfmake.min.js"></script>
    <script src="~/ContentPG/Script/vfs_fonts.js"></script>


    <script src="~/ContentPG/Script/custom.min.js"></script>



    <!-- bootstrap-datetimepicker -->
    <script src="~/ContentPG/Script/bootstrap-datetimepicker.min.js"></script>
    <!-- Bootstrap Colorpicker -->
    <script src="~/ContentPG/Script/bootstrap-colorpicker.min.js"></script>



    @if (Session["Mensaje"] != null)
    {

        Mensaje OMensaje = Session["Mensaje"] as Mensaje;

        var wTipo = OMensaje.Tipo;
        var wMsg = OMensaje.Msg;

        if (OMensaje.Tipo == "Exito")
        {
            <script type="text/javascript">
            toastr.success('@wMsg.ToString()', '');
            </script>

        }
        else if (OMensaje.Tipo == "Error")
        {
            <script type="text/javascript">
            toastr.error('@wMsg.ToString()', 'Error');
            </script>

        }
        else if (OMensaje.Tipo == "Alerta")
        {
            <script type="text/javascript">
            toastr.warning('@wMsg.ToString()', 'Alerta');
            </script>

        }
        else if (OMensaje.Tipo == "Info")
        {
            <script type="text/javascript">
            toastr.info('@wMsg.ToString()', 'Información');
            </script>

        }


        Session["Mensaje"] = null;



    }



    @RenderSection("scripts", required: false)

</body>
</html>
