@model RelojBio.ViewModel.CCostoViewModel
@{
    ViewBag.Title = "Create";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">

                <ul class="breadcrumb">
                    <li><i class="icon-home2 position-left"></i><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><a href="@Url.Action("Index", "CCosto")">Centro de Costo</a></li>
                    <li class="active">Nuevo Centro de Costo</li>
                </ul>
            </div>

        </div>

        <div class="clearfix"></div>

        @using (Html.BeginForm("Create", "CCosto"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <div class="row">
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>General</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">


                            <div class="row hidden">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    @Html.LabelFor(model => model.CostCenterID, htmlAttributes: new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    @Html.EditorFor(model => model.CostCenterID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CostCenterID, "", new { @class = "text-danger" })
                                </div>
                                <br />

                            </div>

                            <div class="row">
                                <br />
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1100px; text-transform: uppercase" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                                <br />
                            </div>

                            <div class="row">
                                <br />
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1100px; text-transform: uppercase" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                <br />
                            </div>

                            <div class="row">
                                <br />
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1100px; text-transform: uppercase" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                                <br />
                            </div>

                            <div class="row">
                                <br />
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    @Html.EditorFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                </div>
                                <br />
                            </div>


                            <div class="form-group">
                                <br />

                                <div class="col-md-offset-2 col-md-10">
                                    <a class="btn btn-default" href="@Url.Action("Index", "CCosto")"> <span class="fa fa-mail-reply-all"></span> Regresar</a>

                                    <button type="submit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-plus"></span> Guardar
                                    </button>
                                </div>
                                <br />
                            </div>

                        </div>

                        <br />
                    </div>
                    <br />

                </div>
                <br />
            </div>

        }



    </div>

</div>

